@using EntityLayer.Concrete
@model List<User>

@{
    ViewBag.Title = "UserProfile";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>User Profile</h1>

@*<br />
<table class="table table-bordered">
    <tr>
        <th>User Name</th>
        <th>Gender</th>
        <th>Country</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.UserName</td>
            <td>@item.Gender</td>
            <td>@item.Country</td>

        </tr>
    }
</table>*@



